@import 'useful';
/* colors and general parameters for all css */

$font:Arial;
$font-size:20px;
$text-color:#666666;
$link-color:#053e7b;
$header-color:#053e7b;
$footer-color:#e9ebee;
$bar-height:8%;
$order-color:$footer-color;
$border-color:$footer-color;
$mobile-size:600px;
$chat-request-color:lightblue;
$chat-response-color:lightgreen;

/* img size */
$icon-size:40px;
$products-size:30%;

/* general */
* {
	font-family: $font;
    color:$text-color;
    font-size:$font-size;
}

a , a > p, a > span {
	color:$link-color;
	text-decoration: none;
    cursor:pointer;
}

ul {
	list-style:none;
}

h1{
	font-size:125%;
	font-weight:bold;
}

button{
	background-color:$header-color;
	@include border-radius(10px);
	span, p {
		color:white;
		font-size:125%;
	}
	@include border-color($header-color, 6px);
}

input, select, textarea {
    @include border-color($border-color,3px);
    @include border-radius(6px);
}

select{
	-webkit-appearance: none;
    background: url(img/flecha-abajo-small.png) no-repeat right;
    min-width: 30px;
    cursor: pointer;
}

.price{
	font-weight:bold;
}

.title {
	border-bottom: 3px solid #e9ebee;
	width:100%;
	text-align:center;
}

/**
show two li in a row
*/
ul.flex-row{
	@include flex(row,nowrap,false,center,center);
	width:100%;
}

div.product-new{
	position:absolute;
	bottom:30px;
	right:30px;
	img {
		width:50px;
	}
}

/* top bar with title, menus, etc */
div.header{
	position:fixed;
	z-index:2;
	background-color:$header-color;
	width:100%;
	height:$bar-height;
	top:0px;
	left:0px;
	@include no-border-padding();
	span, p, li, h1, a{
		color:white;
	}
	h1{
		white-space:nowrap;
		padding-left:5px;
	}
	.menu{
		@include flex(row,nowrap,true,center,space-between);
	}
	.menu-icons {
		@include flex(row,nowrap,false,center,left);
		@include separate-elements(2);
		img {
			width:$icon-size;
			padding-left:10px;
		}
	}
}

div.content{
	position:absolute;
	height:99-$bar-height;
	top:$bar-height;
	left:0px;
	width:100%;
	padding-top:2px;
}

/* for some pages like chat, shopping bar, bar with options */
div.footer{
	background-color:$footer-color;
	width:100%;
	min-height:$bar-height;
	position:absolute;
	bottom:0px;
	left:0px;
	@include no-border-padding();
}

/* main pages */
.page-create{
	@include flex(column,nowrap,true,center,center);
	* {
		@include separate-elements(2);
	}
}

.page-main{
	@include flex(column,nowrap,false,center,flex-start);
}

.page-chat{
	/* containers */
	@include flex(column,nowrap,true);
	div.chat-messages{
		@include flex(column,nowrap,false,left,center);
		width:100%;
		* {
			@include separate-elements(3);
		}
	}
	div.chat-suggestions{
		@extend .chat-messages;
		margin-top:100px;
		background-color:$footer-color;
	}
	div.chat-text{
		@include flex(row,nowrap,false,center,center);
		width:100%;
		* {
			@include separate-elements(2);
		}
		background-color:$footer-color;
	}
	/* chats */
	.chat-message{
		@include separate-elements(2);
		@include border-radius(5px);
		width:95%;
	}
	.chat-request{
		@extend .chat-message;
		background-color:$chat-request-color;
		text-align:left;
	}
	.chat-response{
		@extend .chat-message;
		background-color:$chat-response-color;
		text-align:right;
	}
	.chat-suggest{
		@extend .chat-response
	}
}

.page-cart{
	@include flex(column,nowrap,true);
	div.cart-products{
		@include flex(column,nowrap,false,center,center);
		width:100%;
		* {
			@include separate-elements(3);
		}
	}
	div.order-info{
		@include flex(column,nowrap,false,center,center);
		width:90%;
		* {
			@include separate-elements(1);
		}
	}
	div.product{
		@include flex(row,nowrap,false,center,center);
		.price{
			position:relative;
			right:2px;
		}
		.quantity-options{
			@include flex(row,nowrap,false,center,center);
			@include no-border-padding();
			* {
				padding-left:5px !important;
				padding-top:0px !important;
				padding-right:0px !important;
				padding-bottom:0px !important;
				margin:0px !important;
			}
			img {
				width:20px;
			}
		}
	}
	div.order-total{
		text-align:right;
	}
	div.cart-options{
		@extend .footer;
		@include flex(row,nowrap,false,center,center);
		button{
			@include separate-elements(2);
		}
	}
}

.page-config{
	@include flex(column,nowrap,false,left,flex-start);
	width:100%;
	button {
		max-width:60%;
		align-self:center;
	}
	table.store-options td{
		vertical-align:top;
	}
	table.store-options input{
		@include separate-elements(1);
	}
}

.page-config-products{
	@include flex(row,nowrap,false,center,center);
	width:100%;
	.config-products{
		@include flex(column,nowrap,false,center,center);
		width:80%;
	}
	* {
		@include separate-elements(1);
	}
	img.product-feature{
		width:40px;
	}
}

.page-invite{
	@include flex(column,nowrap,false,center,center);
	width:100%;
	p{
		text-align:center;
	}
	.invite-social{
		@include flex(row,wrap,false,center,center);
		width:100%;
		img{
			width:64px;
			padding:5px;
		}
	}
}

.page-orders{
	@include flex(column,nowrap,false,center,center);
	width:100%;
	ul.flex-row{
		* {
			@include separate-elements(1);
		}
	}
}

.search{
	@media (min-width:$mobile-size) {
		width:150px
	}
}

/* main class: orders products etc */
div.order{
	@include flex(column,nowrap,false,center,flex-start);
	background-color:$order-color;
	@include border-radius(10px);
	min-height:80px;
	max-height:150px;
	padding:15px;
	margin:20px;
	.order-header{
		@include flex(row,wrap,false,center,flex-start);
		width:100%;
		p, span {
			white-space:nowrap;
		}
	}
	.order-info{
		font-style:italic;
	}
	.order-product-list{
		@include flex(column,nowrap,false,left,flex-start);
		overflow-y:auto;
		@include separate-elements(2);
		width:100%;
		* { 
			padding:0px !important;
			margin:2px !important;
		}
	}
	* {
		@include separate-elements(1);
	}
}

div.category-list{
	@include flex(row,wrap,false,left,flex-start);
	width:100%;
	* {
		@include separate-elements(1);
	}
	div.category{
		max-height:250px;
		@include flex(column,nowrap,false,center,left);
		width:100%;
		padding:8px;
		div.category-header{
			@include flex(row,nowrap,false,center,left);
			width:100%;
			height:300px;
			padding-left:15px;
		}
	}
}

div.product-list{
	/* desktop show categories and products */
	@media (min-width:$mobile-size){
		@include flex(column,wrap,false,left,space-around);
		overflow-y:auto;
		overflow-x:hidden;
	}
	/* mobile just products */
	@media (max-width:$mobile-size - 1){
		@include flex(row,wrap,false,left,space-around);
	}
	div.product{
		min-width:150px;
		max-width:200px;
		min-height:150px;
		max-height:200px;
		border-width:2px;
		border-color:$border-color;
		border-style:solid;
		@media (max-width:$mobile-size - 1){
			padding:5px;
			margin:8px;
		}
		@include flex(column,nowrap,false,center,flex-start);
	}
}