/* useful sass functions */
/* containers flex-box */
/* colors and general parameters for all css */
/* img size */
/* general */
* {
  font-family: Arial;
  color: #666666;
  font-size: 18px;
}

a, a > p, a > span {
  color: #053e7b;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

h1 {
  font-size: 125%;
  font-weight: bold;
}

button {
  background-color: #053e7b;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: #053e7b;
  border-width: 6px;
}
button span, button p {
  color: white;
  font-size: 125%;
}

/* top bar with title, menus, etc */
div.header {
  position: fixed;
  z-index: 2;
  background-color: #053e7b;
  width: 100%;
  height: 8%;
  top: 0px;
  left: 0px;
  border: 0px;
  padding: 0px;
  margin: 0px;
}
div.header span, div.header p, div.header li, div.header h1 {
  color: white;
}
div.header h1 {
  white-space: nowrap;
  padding-left: 5px;
}
div.header .menu {
  display: flex;
  width: 99%;
  height: 99%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
div.header .menu-icons {
  display: flex;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  align-content: center;
  justify-content: left;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 4px;
  margin: 6px;
}
div.header .menu-icons img {
  width: 40px;
  padding-left: 10px;
}

div.content {
  position: absolute;
  height: 91%;
  top: 8%;
  left: 0px;
  width: 100%;
  padding-top: 2px;
}

/* for some pages like chat, shopping bar, bar with options */
div.footer {
  background-color: #e9ebee;
  width: 100%;
  min-height: 8%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

/* main pages */
.page-create {
  display: flex;
  width: 99%;
  height: 99%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.page-create * {
  padding: 4px;
  margin: 6px;
}

.page-main {
  display: flex;
  width: 99%;
  height: 99%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media (min-width: 600px) {
  .page-main {
    width: 100%;
  }
  .page-main li {
    width: 100%;
  }
  .page-main .store-description {
    text-align: center;
  }
}

.page-chat {
  /* containers */
  display: flex;
  width: 99%;
  height: 99%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  /* chats */
}
.page-chat div.chat-messages, .page-chat div.chat-suggestions {
  display: flex;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: left;
  align-content: left;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}
.page-chat div.chat-messages *, .page-chat div.chat-suggestions * {
  padding: 6px;
  margin: 9px;
}
.page-chat div.chat-suggestions {
  margin-top: 200px;
  background-color: #e9ebee;
}
.page-chat div.chat-text {
  display: flex;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  background-color: #e9ebee;
}
.page-chat div.chat-text * {
  padding: 4px;
  margin: 6px;
}
.page-chat .chat-message, .page-chat .chat-response, .page-chat .chat-suggest, .page-chat .chat-request {
  padding: 4px;
  margin: 6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  width: 95%;
}
.page-chat .chat-request {
  background-color: lightblue;
  text-align: left;
}
.page-chat .chat-response, .page-chat .chat-suggest {
  background-color: lightgreen;
  text-align: right;
}
@media (min-width: 600px) {
  .search {
    width: 150px;
  }
}

/* main class: orders products etc */
div.order {
  display: flex;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #e9ebee;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  min-height: 80px;
  max-height: 150px;
  padding: 5px;
}
div.order .order-header {
  display: flex;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
div.order .order-header p, div.order .order-header span {
  white-space: nowrap;
}
div.order .order-product-list {
  display: flex;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: left;
  align-content: left;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto;
  width: 100%;
}
div.order .order-product-list * {
  padding: 0px !important;
  margin: 2px !important;
}
div.order * {
  padding: 2px;
  margin: 3px;
}

div.category-list {
  display: flex;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: left;
  align-content: left;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
div.category-list * {
  padding: 2px;
  margin: 3px;
}
div.category-list div.category {
  max-height: 250px;
  display: flex;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  align-content: center;
  justify-content: left;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding: 8px;
}
div.category-list div.category div.category-header {
  display: flex;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  align-content: center;
  justify-content: left;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 300px;
  padding-left: 15px;
}

div.product-list {
  width: 100%;
  /* desktop show categories and products */
  /* mobile just products */
}
@media (min-width: 600px) {
  div.product-list {
    display: flex;
    border: 0px;
    padding: 0px;
    margin: 0px;
    align-items: left;
    align-content: left;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media (max-width: 599px) {
  div.product-list {
    display: flex;
    border: 0px;
    padding: 0px;
    margin: 0px;
    align-items: left;
    align-content: left;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
div.product-list div.product {
  min-width: 150px;
  max-width: 200px;
  min-height: 150px;
  max-height: 200px;
  border-width: 2px;
  border-color: #e9ebee;
  border-style: solid;
  display: flex;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media (max-width: 599px) {
  div.product-list div.product {
    padding: 5px;
    margin: 8px;
  }
}

/*# sourceMappingURL=style.css.map */
