@import 'useful';
/* colors and general parameters for all css */

$font:Arial;
$font-size:18px;
$text-color:#666666;
$link-color:#053e7b;
$header-color:#053e7b;
$footer-color:#e9ebee;
$bar-height:8%;
$order-color:#e9ebee;
$border-color:#e9ebee;
$mobile-size:600px;
$chat-request-color:lightblue;
$chat-response-color:lightgreen;

/* img size */
$icon-size:40px;
$products-size:30%;

/* general */
* {
	font-family: $font;
    color:$text-color;
    font-size:$font-size;
}

a , a > p, a > span {
	color:$link-color;
	text-decoration: none;
    cursor:pointer;
}

ul {
	list-style:none;
}

h1{
	font-size:125%;
	font-weight:bold;	
}

button{
	background-color:$header-color;
	@include border-radius(10px);
	span, p {
		color:white;
		font-size:125%;
	}
	@include border-color($header-color, 6px);
}

/* top bar with title, menus, etc */
div.header{
	position:fixed;
	z-index:2;
	background-color:$header-color;
	width:100%;
	height:$bar-height;
	top:0px;
	left:0px;
	@include no-border-padding();
	span, p, li, h1{
		color:white;
	}
	h1{
		white-space:nowrap;
		padding-left:5px;
	}
	.menu{
		@include flex(row,nowrap,true,center,space-between);
	}
	.menu-icons {
		@include flex(row,nowrap,false,center,left);
		@include separate-elements(2);
		img {
			width:$icon-size;
			padding-left:10px;
		}
	}
}

div.content{
	position:absolute;
	height:99-$bar-height;
	top:$bar-height;
	left:0px;
	width:100%;
	padding-top:2px;
}

/* for some pages like chat, shopping bar, bar with options */
div.footer{
	background-color:$footer-color;
	width:100%;
	min-height:$bar-height;
	position:absolute;
	bottom:0px;
	left:0px;
	@include no-border-padding();
}

/* main pages */
.page-create{
	@include flex(column,nowrap,true,center,center);
	* {
		@include separate-elements(2);
	}
}

.page-main{
	@media (min-width:$mobile-size) {
		width:100%;
		li {
			width:100%;
		}
		.store-description{
			text-align:center;
		}
	}
	@include flex(column,nowrap,true,center,flex-start);
}

.page-chat{
	/* containers */
	@include flex(column,nowrap,true);
	div.chat-messages{
		@include flex(column,nowrap,false,left,center);
		width:100%;
		* {
			@include separate-elements(3);
		}
	}
	div.chat-suggestions{
		@extend .chat-messages;
		margin-top:200px;
		background-color:$footer-color;
	}
	div.chat-text{
		@include flex(row,nowrap,false,center,center);
		width:100%;
		* {
			@include separate-elements(2);
		}
		background-color:$footer-color;
	}
	/* chats */
	.chat-message{
		@include separate-elements(2);
		@include border-radius(5px);
		width:95%;
	}
	.chat-request{
		@extend .chat-message;
		background-color:$chat-request-color;
		text-align:left;
	}
	.chat-response{
		@extend .chat-message;
		background-color:$chat-response-color;
		text-align:right;
	}
	.chat-suggest{
		@extend .chat-response
	}
}

.search{
	@media (min-width:$mobile-size) {
		width:150px
	}
}

/* main class: orders products etc */
div.order{
	@include flex(column,nowrap,false,center,flex-start);
	background-color:$order-color;
	@include border-radius(15px);
	min-height:80px;
	max-height:150px;
	padding:5px;
	.order-header{
		@include flex(row,nowrap,false,center,flex-start);
		p, span {
			white-space:nowrap;
		}
	}
	.order-product-list{
		@include flex(column,nowrap,false,left,flex-start);
		overflow-y:auto;
		width:100%;
		* { 
			padding:0px !important;
			margin:2px !important;
		}
	}
	* {
		@include separate-elements(1);
	}
}

div.category-list{
	@include flex(row,wrap,false,left,flex-start);
	width:100%;
	* {
		@include separate-elements(1);
	}
	div.category{
		max-height:250px;
		@include flex(column,nowrap,false,center,left);
		width:100%;
		padding:8px;
		div.category-header{
			@include flex(row,nowrap,false,center,left);
			width:100%;
			height:300px;
			padding-left:15px;
		}
	}
}

div.product-list{
	width:100%;
	/* desktop show categories and products */
	@media (min-width:$mobile-size){
		@include flex(column,wrap,false,left,space-around);
		overflow-y:auto;
		overflow-x:hidden;
	}
	/* mobile just products */
	@media (max-width:$mobile-size - 1){
		@include flex(row,wrap,false,left,space-around);
	}
	div.product{
		min-width:150px;
		max-width:200px;
		min-height:150px;
		max-height:200px;
		border-width:2px;
		border-color:$border-color;
		border-style:solid;
		@media (max-width:$mobile-size - 1){
			padding:5px;
			margin:8px;
		}
		@include flex(column,nowrap,false,center,flex-start);
	}
}