@import 'useful';
/* colors and general parameters for all css */

$font:Arial;
$font-size:18px;
$text-color:#666666;
$link-color:#053e7b;
$header-color:#053e7b;
$footer-color:#e9ebee;
$bar-height:8%;
$order-color:#e9ebee;

/* img size */
$icon-size:40px;
$products-size:30%;

/* general */
* {
	font-family: $font;
    color:$text-color;
    font-size:$font-size;
}

a , a > p, a > span {
	color:$link-color;
	text-decoration: none;
    cursor:pointer;
}

ul {
	list-style:none;
}

h1{
	font-size:125%;
	font-weight:bold;	
}

button{
	background-color:$header-color;
	@include border-radius(10px);
	span, p {
		color:white;
		font-size:125%;
	}
	@include border-color($header-color, 6px);
}

/* containers flex-box */
.flex-column-center{
	@include flex(center,center,column);
}

.flex-column-top{
	@include flex(center,flex-start,column);
}

.flex-column-left{
	@include flex(left,flex-start,column);
}

.flex-row-top{
	@include flex(center,flex-start,row,nowrap);
}

.flex-row{
	@include flex(center,left,row);
}

/* top bar with title, menus, etc */
div.header{
	position:fixed;
	z-index:2;
	background-color:$header-color;
	width:100%;
	height:$bar-height;
	top:0px;
	left:0px;
	@include no-border-padding();
	span, p, li, h1{
		color:white;
	}
	.menu{
		@include flex(center,space-between,row,nowrap);
	}
	.menu-icons {
		@extend .flex-row;
		@include separate-elements(2);
		img {
			width:$icon-size;
			padding-left:10px;
		}
	}
}

div.content{
	position:absolute;
	height:99-$bar-height;
	top:$bar-height;
	left:0px;
	width:100%;
	padding-top:2px;
}

/* for some pages like chat, shopping bar, bar with options */
div.footer{
	background-color:$footer-color;
	width:100%;
	min-height:$bar-height;
	position:absolute;
	bottom:0px;
	left:0px;
	@include no-border-padding();
}

/* main pages */
.store-create{
	@extend .flex-column-center;
	* {
		@include separate-elements(2);
	}
}

.store-main{
	@extend .flex-column-top;
	* {
		@include separate-elements(1);
	}
}

/* main class: orders products etc */
div.order{
	@extend .flex-column-top;
	background-color:$order-color;
	@include border-radius(15px);
	min-height:80px;
	max-height:150px;
	padding:5px;
	.order-header{
		@include flex(center,flex-start,row,nowrap);
		max-height:40px;
		p, span {
			white-space:nowrap;
		}
	}
	.order-product-list{
		@extend .flex-column-left;
		overflow-y:auto;
		* { 
			padding:0px !important;
			margin:2px !important;
		}
	}
}

div.category-list{
	@include flex(left,flex-start,row,wrap);	
	div.category{
		max-height:300px;
		@include flex(center,left,column,nowrap);
		div.category-header{
			max-height:50px;
			@include flex(center,space-between,row,nowrap);
		}
	}
}

div.product-list{
	@include flex(left,flex-start,column,wrap);
	max-height:200px;
	overflow-x:auto;
	div.product{
		height:150px;
		width:150px;
		@include flex(center,flex-start,column,nowrap);
	}
}