/* useful sass functions */
/* containers flex-box */
/* colors and general parameters for all css */
/* img size */
/* general */
* {
  font-family: Arial;
  color: #666666;
  font-size: 18px;
}

a, a > p, a > span {
  color: #053e7b;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

h1 {
  font-size: 125%;
  font-weight: bold;
}

button {
  background-color: #053e7b;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: #053e7b;
  border-width: 6px;
}
button span, button p {
  color: white;
  font-size: 125%;
}

/* containers flex-box */
.flex-column-center, .store-create {
  display: flex;
  width: 99%;
  height: 99%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-column-top, div.order, .store-main {
  display: flex;
  width: 99%;
  height: 99%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.flex-column-left, div.order .order-product-list {
  display: flex;
  width: 99%;
  height: 99%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: left;
  justify-content: flex-start;
  flex-direction: column;
}

.flex-row-top {
  display: flex;
  width: 99%;
  height: 99%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-row, div.header .menu-icons {
  display: flex;
  width: 99%;
  height: 99%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  justify-content: left;
  flex-direction: row;
}

/* top bar with title, menus, etc */
div.header {
  position: fixed;
  z-index: 2;
  background-color: #053e7b;
  width: 100%;
  height: 8%;
  top: 0px;
  left: 0px;
  border: 0px;
  padding: 0px;
  margin: 0px;
}
div.header span, div.header p, div.header li, div.header h1 {
  color: white;
}
div.header .menu {
  display: flex;
  width: 99%;
  height: 99%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
div.header .menu-icons {
  padding: 4px;
  margin: 6px;
}
div.header .menu-icons img {
  width: 40px;
  padding-left: 10px;
}

div.content {
  position: absolute;
  height: 91%;
  top: 8%;
  left: 0px;
  width: 100%;
  padding-top: 2px;
}

/* for some pages like chat, shopping bar, bar with options */
div.footer {
  background-color: #e9ebee;
  width: 100%;
  min-height: 8%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

/* main pages */
.store-create * {
  padding: 4px;
  margin: 6px;
}

.store-main * {
  padding: 2px;
  margin: 3px;
}

/* main class: orders products etc */
div.order {
  background-color: #e9ebee;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  min-height: 80px;
  max-height: 150px;
  padding: 5px;
}
div.order .order-header {
  display: flex;
  width: 99%;
  height: 99%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  max-height: 40px;
}
div.order .order-header p, div.order .order-header span {
  white-space: nowrap;
}
div.order .order-product-list {
  overflow-y: auto;
}
div.order .order-product-list * {
  padding: 0px !important;
  margin: 2px !important;
}

div.category-list {
  display: flex;
  width: 99%;
  height: 99%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: left;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
div.category-list div.category {
  max-height: 300px;
  display: flex;
  width: 99%;
  height: 99%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  flex-wrap: nowrap;
}
div.category-list div.category div.category-header {
  max-height: 50px;
  display: flex;
  width: 99%;
  height: 99%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

div.product-list {
  display: flex;
  width: 99%;
  height: 99%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: left;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px;
  overflow-x: auto;
}
div.product-list div.product {
  height: 150px;
  width: 150px;
  display: flex;
  width: 99%;
  height: 99%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}

/*# sourceMappingURL=style.css.map */
