/** css parameters*/

$font:Arial;
$font-size:20px;
$text-color:#666666;
$link-color:#053e7b;
$header-color:#053e7b;
$footer-color:#e9ebee;
$bar-height:8%;
$order-color:$footer-color;
$border-color:$footer-color;
$mobile-size:600px;
$chat-request-color:lightblue;
$chat-response-color:lightgreen;

/* img size */
$icon-size:40px;
$products-size:30%;